.aviquo1 {
  text-decoration: none;
  position: relative;
  font-weight: 600;
  color: inherit;
}
.aviquo-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-26xl) 0 3.312rem;
}
.choose-the-type {
  position: relative;
  font-size: var(--font-size-xs);
  font-family: var(--font-dm-sans);
}
.frame-section {
  position: absolute;
  top: 3.813rem;
  left: 4.75rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-mini);
  text-align: left;
  font-size: var(--font-size-21xl);
  color: var(--color-black);
  font-family: var(--font-plus-jakarta-sans);
}
.screenshot-2024-07-27-at-1253 {
  position: absolute;
  top: 27.875rem;
  left: 7.25rem;
  width: 1.688rem;
  height: 1.563rem;
  object-fit: cover;
  z-index: 2;
}
.instagram {
  position: absolute;
  top: 47.188rem;
  left: 11.813rem;
  width: 3.125rem;
  height: 4.813rem;
  display: none;
}
.tiktok {
  position: absolute;
  top: 46.438rem;
  left: 17.438rem;
  width: 3.188rem;
  height: 6.313rem;
}
.frame-child4 {
  height: 3rem;
  width: 12rem;
  position: relative;
  border-radius: var(--br-2xl);
  background-color: var(--color-gray-100);
  display: none;
}
.summer-programs {
  width: 8.019rem;
  position: relative;
  font-size: var(--font-size-sm);
  font-weight: 500;
  font-family: var(--font-exo);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  flex-shrink: 0;
  z-index: 1;
}
.group-button {
  cursor: pointer;
  border: 0;
  padding: var(--padding-mini) var(--padding-26xl) var(--padding-sm) 3.75rem;
  background-color: var(--color-gray-100);
  align-self: stretch;
  border-radius: var(--br-2xl);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  white-space: nowrap;
}
.scholarships {
  position: relative;
  font-size: var(--font-size-sm);
  font-weight: 500;
  font-family: var(--font-exo);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  min-width: 5.35rem;
  z-index: 1;
}
.rectangle-parent1 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-mini) var(--padding-26xl) var(--padding-sm);
  background-color: var(--color-gray-100);
  align-self: stretch;
  border-radius: var(--br-2xl);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
}
.screenshot-2024-07-27-at-12531 {
  height: 1.625rem;
  width: 2.125rem;
  position: relative;
  object-fit: cover;
  z-index: 1;
}
.competitions {
  position: relative;
  font-size: var(--font-size-sm);
  font-weight: 500;
  font-family: var(--font-exo);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  min-width: 5.313rem;
  z-index: 1;
}
.frame-button,
.frame-parent2 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-button {
  cursor: pointer;
  border: 0;
  padding: var(--padding-mini) var(--padding-sm) var(--padding-6xs);
  background-color: var(--color-gray-100);
  align-self: stretch;
  border-radius: var(--br-2xl);
  flex-direction: row;
  gap: var(--gap-mini);
}
.frame-parent2 {
  position: absolute;
  top: 22.875rem;
  left: 6.188rem;
  width: 12rem;
  flex-direction: column;
  gap: var(--gap-xl);
}
.linkedin-icon,
.screenshot-2024-07-27-at-1252,
.tiktok-icon {
  position: absolute;
  top: 23.313rem;
  left: 6.938rem;
  width: 2.313rem;
  height: 2.125rem;
  object-fit: cover;
  z-index: 2;
}
.linkedin-icon,
.tiktok-icon {
  top: 48.438rem;
  left: 16.938rem;
  width: 1.813rem;
  height: 4.313rem;
}
.tiktok-icon {
  left: 19.188rem;
}
.linkedin {
  height: 6.313rem;
  width: 3.188rem;
  position: relative;
  display: none;
}
.instagram-icon {
  height: 3.375rem;
  width: 1.688rem;
  position: relative;
  object-fit: cover;
  z-index: 2;
}
.linkedin-parent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 2.5rem 1.5rem var(--padding-6xs) 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  z-index: 1;
}
.youtube {
  height: 6.313rem;
  width: 3.125rem;
  position: relative;
  display: none;
}
.youtube-icon {
  height: 4.313rem;
  width: 1.688rem;
  position: relative;
  object-fit: cover;
  z-index: 2;
}
.frame-parent3,
.youtube-parent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.youtube-parent {
  width: 3.125rem;
  justify-content: flex-end;
  padding: var(--padding-13xl) 0.25rem 0;
  box-sizing: border-box;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  z-index: 1;
}
.frame-parent3 {
  position: absolute;
  top: 46.438rem;
  left: 14.688rem;
  width: 8.813rem;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.choose-type-of-program {
  width: 24.375rem;
  height: 52.75rem;
  background: linear-gradient(
    180deg,
    rgba(244, 90, 254, 0.33),
    rgba(85, 222, 255, 0.11)
  );
  max-width: 100%;
  overflow: hidden;
  line-height: normal;
  letter-spacing: normal;
}
