body {
  margin: 0;
  font-family: 'Plus Jakarta Sans', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(180deg, rgba(244,90,254,0.2) 0%, rgba(85,222,255,0.07) 100%);
  box-sizing: border-box;
  background-repeat: no-repeat;
}

.container {
    width: 90%;
    position: relative;
    overflow-y: scroll;
}

.title {
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-weight: 600;
    font-size: 40px;
    line-height: 50.4px;
    margin-bottom: 16px;
    text-align: center;
}

.subtitle {
    font-weight: 400;
    font-size: 12px;
    line-height: 15.62px;
    margin-bottom: 40px;
    text-align: center;
}

.checkbox-button {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 150px;
    height: 48px;
    margin: 10px auto;
    border-radius: 24px;
    background: white;
    cursor: pointer;
    position: relative;
    transition: background-color 0.3s;
    margin: 10px;
}

.checkbox-button img {
    position: relative;
    padding: 10px;
}

.checkbox-button label {
    padding-right: 10px;
} 

.checkbox-button:hover {
    background-color: #f0f0f0;
}

.checkbox-button input[type="checkbox"] {
    display: none;
}

.checkbox-button label {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    cursor: pointer;
    margin: 0;
}

.checkbox-button input[type="checkbox"]:checked + label {
    background-color: #dcdcdc;
    border: 2px solid #000000;
    border-radius: 24px;
}

.submit-buttons {
    display: flex;
    justify-content: space-around;
    margin: 40px auto 0;
}

.submit-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 48px;
    border-radius: 24px;
    background: white;
    cursor: pointer;
    font-size: 12px;
    line-height: 15.62px;
    font-weight: 500;
    text-decoration: none;
    border: none;
    color: black;
    text-decoration: none;
}

.submit-button:hover {
    background-color: #f0f0f0;
}

.options {
    justify-content: center;
    align-items: center;
    display: flex;
    font-family: 'Exo', sans-serif;
    font-size: 14px;
    font-weight: 500;
} 

#subjectsForm {
    max-width: 600px;
    margin: 0 auto;
} 

/* social icons */

.frame-parent3 {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: flex;
  gap: 10px;
}

.social-icon {
  width: 24px;
  height: 24px;
  object-fit: cover;
}
